.container{
display: flex;
color: white;
}

.container a{
    color: lightblue;
}

.submit{
    margin-top: 3%;
    width: 40%;
    padding: 10px;
    margin-left: 28%;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #006b33;
    color: white;
    cursor:pointer;
}

.submit:hover{
    background-color: #005027;
}

.submit:active{
    background-color: #002e16;
}