.container{
display: flex;
color: white;
}

.container a{
    color: lightblue;
}

.Fields{
    background-color: lightgray;
    display: block;
    margin-right: 10px;
    width: 70%;
    padding: 5px;
    border-radius: 5px;
}

.error{
    text-align: center;
    background-color: rgb(228, 0, 0);
    width: 70%;
    font-weight: bold;
    padding: 3px;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 2px;
}

.submit{
    margin-top: 3%;
    width: 20%;
    padding: 10px;
    margin-left: 37%;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #269037;
    color: white;
    cursor:pointer;
}

.submit:hover{
    background-color: #227245;
}

.submit:active{
    background-color: #133f26;
}