.Box{
    position: relative;
    text-align: center;
    color: white;
}

.Box Button{
    color: white;
    z-index:4;
    position: fixed
}

.Box h1{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    margin-bottom: auto;
}

.Box h2{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    color: #BDBDBD;
    margin-bottom: auto;
}

.Avatar{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}